group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.tabs {
  list-style: none;
  margin: 60px auto 0;
  width: 660px;
}
.tabs li {
  /* Makes a horizontal row */
  float: left;

  /* So the psueudo elements can be
           abs. positioned inside */
  position: relative;
}
.tabs button {
  /* Make them block level
         and only as wide as they need */
  float: left;
  padding: 10px 40px;
  text-decoration: none;

  /* Default colors */
  color: black;
  background: green;

  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active button {
  /* Colors when tab is active */
  background: rgb(134 239 172);
  color: black;
}
.tabs li:before,
.tabs li:after,
.tabs li button:before,
.tabs li button:after {
  /* All pseudo elements are 
         abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
       tabs need pseudo elements at all */
.tabs li:last-child:after,
.tabs li:last-child button:after,
.tabs li:first-child:before,
.tabs li:first-child button:before,
.tabs .active:after,
.tabs .active:before,
.tabs .active button:after,
.tabs .active button:before {
  content: "";
}
.tabs .active:before,
.tabs .active:after {
  background: rgb(134 239 172);

  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.tabs li:before,
.tabs li:after {
  background: rgb(134 239 172);
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;
}
.tabs li:after {
  right: -10px;
}
/* Circles */
.tabs li button:after,
.tabs li button:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;

  /* Circles over squares */
  z-index: 2;
}
.tabs .active button:after,
.tabs .active button:before {
  background: rgb(134 239 172);
}
/* First and last tabs have different
       outside color needs */
.tabs li:first-child.active button:before,
.tabs li:last-child.active button:after {
  background: white;
}
.tabs li button:before {
  left: -20px;
}
.tabs li button:after {
  right: -20px;
}
